<span id="pg1">
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>Your Favorite Artist: {{favArtist}}</th>
                <th rowspan="5">{{#if oneImageURL}}
                    <img id="img" src={{oneImageURL}}>
                {{/if}}</th>
            </tr>
            <tr><td>Hotttnesss: {{hotttnesss}}</td></tr>
            <tr><td id="bio">Biography: {{#if bios}}
                {{#each bios}}<ul>
                    <li><p>{{this.text}}</p>
                        <p>Read more on <a href={{this.url}}>{{this.site}}</a>.</p></li>
                </ul>{{/each}}
                {{/if}}</td></tr>
        </tbody>
    </table>
    <p>As you can see, I was able to use the Echo Nest API to request information about your favorite artist.  Let's take a look at how this happened.  Please click the Next button.</p>
    <form method="post">
        <button type="submit" name="next">Next</button>
    </form>
</span>