<span id="pg1">
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>Your Favorite Artist: {{favArtist}}</th>
                <th rowspan="5">{{#if oneImageURL}}
                    <img id="img" src={{oneImageURL}}>
                {{/if}}</th>
            </tr>
            <tr><td>Hotttnesss: {{hotttnesss}}</td></tr>
            <tr><td id="bio">Biography: {{#if bios}}
                {{#each bios}}<ul>
                    <li><p>{{this.text}}</p>
                        <p>Read more on <a href={{this.url}}>{{this.site}}</a>.</p></li>
                </ul>{{/each}}
                {{/if}}</td></tr>
        </tbody>
    </table>
</span> 